@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import "https://cdn.jsdelivr.net/npm/open-props@1.6.17/open-props.min.css";

body {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1em;
}
.splide {
  max-width: 80vw;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__slide__container {
  height: 220px;
  aspect-ratio: 16/9;
  background-color: red;
  border-radius: 0.4em;
  display: flex;
  align-items: end;
  cursor: pointer;
}
.splide__slide__container h1 {
  font-family: "Montserrat";
  margin-left: 1em;
  color: white;
}


.splide {
  position: relative;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
  z-index: 2;
}

.next-btn {
  right: 0;
}
