@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import "https://cdn.jsdelivr.net/npm/open-props@1.6.17/open-props.min.css";

body {
  margin: 0;
  padding: 0;
}

.splide {
  max-width: 100vw;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide__slide__container {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 455px;
  height: 196px;
  padding: 17px 26px 17px 26px;
  font-family: "DM Sans";
}

.splide {
  position: relative;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  z-index: 900;
  margin-left: 30px;
}
.next-btn{
  margin-right: 30px;
}

//Buttons
.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

//Cards

#card-title{
  color:  #1A1A1A;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}
.card-subtitle{
  color: #1A1A1A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 17px;
}

.container-card-infos{
  display: flex;
  gap: 17px;
  align-items: center;
}

.image-card{
  width: 58px;
  height: 58px;
}

.card-infos-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-infos-content-title{
  margin: 0px;
  font-style: normal;
font-weight: 700;
font-size: 16px;
}
.card-infos-content-subtitle{
  margin: 0px;
}